.container {
    min-width: unset !important;
    max-width: 100dvw !important;
}

.main-container {
    width: 100vw;
    max-width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 38, 47);
    padding: 0 !important;
    margin: 0 !important;
}

.sector-index-wrapper {
    overflow-y: hidden;
}

.sector-content-wrapper {
    /* padding-right: 25px !important; */
}

.toggle {
    display: none;
}

/**
* Sectors
**/
#sectors-container ul {
    list-style-type: none;
    padding-left: 0;
    display: none;
}

#sectors-container .show {
    display: block !important;
}

#sectors-container {
    font-weight: 100;
    cursor: pointer;
}

#sectors-container h2 {
    margin: 0px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

#sectors-container h2 li {
    font-size: 15px;
}

.content-container {
    color: white;
    background-color: rgb(41, 47, 56);
    display: flex;
    overflow: auto;
    flex-direction: column;

    ::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sector-industry h2 {
    margin-bottom: 10px;
}

.sector-industry p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}

.radarChart {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin: 0 auto;
}


.radar-description {
    color: white;
    font-size: 14px;
    line-height: 8px;
    text-align: center;
    margin-bottom: 40px;
}

.descriptions {
    padding: 30px;
    font-size: 18px;
    color: white;
}

.stars-container img {
    width: 23px;
    height: 23px;
    vertical-align: middle;
    padding: 0;
    margin-bottom: 7px;
}

.ticker-stars .star-explanation {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.ticker-stars:hover .star-explanation {
    visibility: visible;
}

#read-more {
    color: #5dade2;
}

.crown {
    height: 30px;
}

.filter-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2vh;
    border-bottom: 2px solid white;
}

.footer-container {
    width: 81vw;
    margin-left: auto;
}

.nav-selected {
    border-left: 5px solid green;
    background-color: rgba(255, 255, 255, 0.1);
    color: white !important;
}

#ticker-placeholder a {
    color: white;
}

.sector-index {
    width: auto;
    position: relative;
    margin: 0;
    background-color: #292f38;
    color: #fff;
    padding: 20px;
    height: 100%;
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    .main-container {
        width: 100dvw !important;
        max-width: 100dvw !important;
        margin: 30px auto;
        overflow-x: hidden;
        position: relative;
    }
    .sector-index-wrapper,
    .sector-content-wrapper {
        max-width: 100dvw;
        overflow-x: hidden;
    }
    .sector-index-wrapper {
        height: 0;
    }
    .sector-content-wrapper {
        width: 95dvw !important;
        max-width: 95dvw !important;
        margin: 30px auto;
        max-height: calc(100vh - 100px);
    }
    .content-container {
        background-color: rgba(22, 27, 34, 0.8);
    }
    .descriptions {
        font-size: 12px;
    }
    .toggle {
        font-size: 30px;
        display: block;
        position: absolute;
        left: calc(100% + 10px);
        top: 30dvh;
        z-index: 10;
    }
    .sector-index {
        display: flex;
        margin: 0;
        padding: 0;
        left: calc(-100vw + 45px);
        border: solid 1px;
        z-index: 100;
        width: calc(100% - 50px);
        transition: left 0.5s ease;
        height: 100%;
        position: absolute;
    }

    .sector-index.show {
        left: 0;
    }

    .sector-index.show .toggle i {
        transform: scale(-1, -1);
    }

    .footer-container {
        margin: 0;
        width: 100vw;
        padding: 0;
    }

    #name-placeholder {
        font-size: 16px;
    }

    .sector-industry p {
        font-size: 14px;
    }
    svg[class="radar.radarChart"]{
        scale: 2;
    }
}